<li<%= ' class="current_player"' if current %>>
  <span class="player_name"><%= player.name %></span>
  <span class="score"><%= player.score %></span>
  <span class="description"><%=h player.description %></span>
</li>
